* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*types*/
body {
    height: 1500px;
    min-width: 100%;
    grid-template: 10% 20% 70% / 100%;
    grid-template-areas: 'nav'
                         'search'
                         'reddit';
    display:grid;
    border: 2px solid green;
}

html {
    background-color: black;
}

/*classes*/

/*navigation*/
.navigation {
    grid-area: nav;
    border: 2px solid yellow;
    display: grid;
    grid-template: 100% / 1fr 1fr 1fr;
    justify-items: center;;
}

.button {
    width: 70%;
    height: 50px;
    margin: 0px 2px 0px 2px;

}

.button button {
    border-left: none!important;
    border-right: none !important;
    border: 3px solid black;
    border-radius: 13px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    background-color: orangered;
    color: black;
}

.boton {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.button button:hover {
    box-shadow: inset -1px -2px 2px 1px black;
}

.button button:active {
    position: relative;
    top: 2px;
}

.home {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
    position: relative;
    left: 70px;
}
.IAM {
    display: flex;
    justify-content: center;
    
}

.interest {
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 70px;
}

/*search*/
.searchBar {
    grid-area: search;
    border: 2px solid red;
    position: relative;
    top: 50px;
    height: 60px;
    display: flex;
    
}

.searchBar form {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.searchInput {
    border-radius: 5px;
    min-width: 80%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    border: 3px solid black;
}   

.submitButton {
    border-left: none!important;
    border-right: none !important;
    border: 3px solid black;
    border-radius: 13px;
    height: 43px;
    width: 70px;
    position: relative;
    left: 6px;
    top: 1px;
    border-radius: 13px;
    cursor: pointer;
    background-color: orangered;
    color: black;
    font-size: 18px
}

.submitButton:hover {
    box-shadow: inset -1px -2px 2px 1px black;
}

.submitButton:active {
    position: relative;
    top: 2px;
}


/*body*/
.realHome {
    grid-area: reddit;
    border: 2px dotted black;
    display: flex;
    position: relative;
    bottom: 240px;
    height: 1286px;
    justify-content: center;
    
}





.list-container {
    border: 2px solid blue;
    width: 70%;
    display: grid;
    grid-template-columns: 100%;
    align-items: stretch;
    overflow: scroll;
    border-radius: 10px;
}

.list-container::-webkit-scrollbar {
    background-color: lightblue;
    border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb {
    background-color: lightskyblue;
    border-radius: 10px;
}

.list-container::-webkit-scrollbar-button {
    background-color: black;
    border-radius: 15px;
}


.heading {
    border: 2px solid purple;
    height: 240px;
    background-color: orangered;
}

.subreddit {
    border: 2px dotted blue;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 400px;
    min-width: 100%;

}


.subreddit div {
    border: 1px solid black;
    min-width: 100%;
}

.subreddit figure {
    border: 2px solid green;
    height: 300px;
    display: flex;
    justify-content: center;
}

.subreddit img {
    width: 300px;
    height: 270px;
    border-radius: 5px;
}

.sub-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    min-width: 100%;
    min-height: 99%;
    border-radius: 15px;
    background-color: white;
    text-decoration: none;
}

.sub-title:hover {
    box-shadow: inset -1px -3px 4px 1px black;
    background-color: #FAF9F6;
}

.sub-title:active {
    position: relative;

}

.try {
    min-width: 100%;
}

.sub-title h3 {
    border: 1px solid red;
    min-width: 100%;
    text-align: center;
    font-size: 22px;
    color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 2;
    justify-content: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 22px;
    
}


/*ids*/


/*media queries*/

@media screen and (max-width: 850px) {
    body {
        height: 1500px;

    }

    .realHome {
        position: relative;
        bottom: 240px;
    }

    .subreddit {
        height: 400px;
    }
}


@media screen and (max-width: 643px) {
    body {
        height: 1450px;
    }

    .realHome {
        position: relative;
        bottom: 270px;
    }

    .subreddit {
        height: 300px;
    }

    .sub-title h3 {
        flex-shrink: 3;
        font-size: 20px;
    }

    .subreddit figure {
        height: 230px;
    }

    .subreddit img {
        width: 230px;
        height: 200px;
    }

}

@media screen and (max-width: 578px) {
    .home button {
        position: relative;
        right: 70px;

    }
    .IAM {
        display: flex;
        justify-content: center;
        
    }
    
    .interest {
        display: flex;
        justify-content: flex-start;
        position: relative;
        left: 20px;
    }

    .subreddit figure {
        height: 200px;
    }

    .subreddit img {
        width: 200px;
        height: 180px;
    }
}

@media screen and (max-width: 450px) {
    
    .subreddit figure {
        height: 180px;
    }

    .subreddit img {
        width: 190px;
        height: 150px;
        position: relative;
        top: 10px;
    }
    .interest {
        position: relative;
        right: 20px;
    }
} 

@media screen and (max-width: 322px) {
    body {
        height: 1300px;
    }

    .interest button {
        position: relative;
        right: 28px;
    }

    .realHome {
        position: relative;
        bottom: 200px;
        height: 1100px;
    }



    .sub-title h3 {
        font-size: 16px;
        overflow: hidden;
    }
}
